* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}

* 

/* menu laptop screen */

.customheader {
    background-color: #3b44b6;
    min-height: 55px;
    display: block;
    
    
}

.logo img {
    max-width: 100px;
    margin-left: 2%;
    display: block;
    position: fixed;
    z-index: 200;
    
}


.navigation__responsive {
    display: none;
}

.navigation {
    background-color: #3b44b6;
    margin-top: 0px;
    
    
    
}

.navigation__ul {
    text-align: end;
    margin-right: 8%;
    
    
}

.navigation__li {
    display: inline-block;
    margin-top: 5px;
    padding: 12px 10px;
    
}

.navigation__li a {
    text-decoration: none;
    color: #75dae0
}

.navigation__li:hover > a {
    color: rgb(234, 255, 4);
}

.navigation__responsive-ul {
    display: none;
}

/* responsive menu */

@media only screen and (max-width: 500px) {
    
   

    .navigation {
        display: none;
    }

    
    .navigation__responsive {
        display: inline-block;
        position: fixed;
        margin-inline-start: 0;
        background-color: #3b44b6;
                       
   }

   .navigation__responsive-li {
    display: block;
    text-align: end;
    
    margin-top: 90px;
    font-size: large;

   }

   .navigation__responsive-button {
    display: block;
    position: fixed;
    margin-left: 70%;
    z-index: 100;
    color: #75dae0;
    text-align: right;  
    margin-top: 20px;
    z-index: 200;
          
}    

    .navigation__responsive-button:hover {
        color:rgb(234, 255, 4)
        
    }


      
    

    .navigation__responsive-li > a {
        text-decoration: none;
        color: #75dae0
          
    }

    
    .responsive__button-container {
        display: inline-block;
    }

    .navigation__responsive-li:hover > a {
        color: rgb(234, 255, 4);
    }
    
    
    .customheader:hover > .navigation__responsive {
        display: block;
        position: fixed;
        width: 60%;
        height: 100%;
        margin-right: 25%;
        background-color: #3b44b6;
        text-align: end;
        z-index: 100;
    }

    .customheader:hover .navigation__responsive-ul {
        display: block;
    }
        
    
   .customjumbo .amarillotitle { 

        margin: 0px;
        font-size : 65px;
        color: #fedf2d;
      
    }
    

    }
    


/* jumbotron */

.customjumbo {
    background-color: #75dae0;
    margin: 0px;
    min-height: 380px;
    
}
 .amarillotitle {
    margin: 0px;
    font-size: 100px;
    color: #fedf2d;
  
}

.amarillotitle:hover {    
   transition: 0.30s;
   color: rgb(234, 255, 4);
   

} 




/* carousel */

.customcarousel {

    margin-top: -25px;
}

.customimage {
    
    
    max-width: 100%;
    max-height: 700px;
    align-items: center;
    }

/* products */

.cardscontainer {

    min-height: 600px;
    margin-bottom: -20px;
}

.products {
    
    padding: 50px;
    font-size: 50px;
    text-align: center;
}

.customcardimg {
    min-height: 240px;
    max-height: 240px;
    
   
}

.carditems {
    margin: auto;
}



/* footer */

