/* Estimado Profesor Mauricio:
  Claramente solicito una revisión de nota, me faltan varias cosas del proyecto y de lo  que alcanzo a notar es lo siguiente:
  Del Navbar, no está codificado el mediaquery; del jumbotron, no te lleva a ningún lado para ingresar correo; del slideswhow no se enteiende la idea
  y por último de los productos y footer, se puede mejorar, en diseño por ejemplo. 
  Ah! y no supe cómo hacer los commits correctamente.  Y no sé por qué no se cargan las img.. de dice "there is no changes to commit" o le soy push y me dice 
  everything is up to date" .. 
  Así que, hartas dudas y errores. Igual te ruego un feedback que si logro lo que me pides, pueda sacar todos los puntos completos del ejercicio.  

    Atte,
    Diego Letelier */


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}

* 

/* menu laptop screen */

.customheader {
    background-color: #3b44b6;
    min-height: 55px;
    
    
}

.logo img {
    max-width: 100px;
    margin-left: 2%;
    position: fixed;
    z-index: 100;
}

.navigation__responsive__ul {
    display: none;
}

.navigation__responsive-li {
    display: none;
}

.navigation {
    background-color: #3b44b6;
    margin-top: 0px;
    
    
}

.navigation__ul {
    text-align: end;
    margin-right: 8%;
    
    
}

.navigation__li {
    display: inline-block;
    margin-top: 5px;
    padding: 12px 10px;
    
}

.navigation__li a {
    text-decoration: none;
    color: #75dae0
}

.navigation__li:hover > a {
    color: rgb(234, 255, 4);
}

/* jumbotron */

.customjumbo {
    background-color: #75dae0;
    margin: 0;
    padding-bottom: 20px;
    
}
.customjumbo .amarillotitle {
    font-size: 100px;
    color: #fedf2d;
}

.amarillotitle:hover {    
   transition: 0.30s;
   color: rgb(234, 255, 4);
   

} 


/* responsive menu */

@media only screen and (max-width: 500px) {
    .navigation__ul {
        display: none;
    }
}    



/* carousel */


.customimage {
    
    max-width: 100%;
    max-height: 700px;
    align-items: center;
    
}

/* products */

.products {
    
    padding: 50px;
    font-size: 50px;
    text-align: center;
}

.customcardimg {
    min-height: 240px;
    
   
}

.carditems {
    text-align: center;
}

/* game */ 



.game{

    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position:relative;
    top: 150px;
}
.animate{
    animation: jump 0.3s linear;
}


@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}

/* footer */

